* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./images/bg-intro-desktop.png");
    background-repeat: no-repeat;
    background-color: #FF7A7A;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: antiquewhite;
}

h1{
    font-weight: 700px;
}

p{
    font-weight: 400px;
}

h4{
    font-weight: 600px;
}


.main{
    width: 80%;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.main .column1{
    width: 50%;
    padding: 2em;
}

.column1 h1{
    font-weight: 700px;
    width: 80%;
    margin-bottom: 20px;
}

.column1 p{
    width: 100%;
}

.main .column2 {
    width: 45%;
    padding: 2em;
}

.column2 .trial{
    text-align: center;
    background-color: #6055A5;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.column2 form{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 2em;
    width: 100%;
    align-items: center;
    justify-content: center;
}


form #first-name, #last-name, #email, #password, button{
    width: 100%;
    padding: 1em;
    border-radius: 5px;
    margin: 10px;
    font-weight: 700px;
    border: 1px solid #3E3C49;;
}
label{
   float: right;
   clear: right;
   margin: -25px -30px -10px -100px;
   font-style: italic;
   color: red;
}

form button{
    width: 100%;
    padding: 1em;
    background-color: #38CC8C;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

form label{
    padding: 2.1em;
    font-weight: 400px;
    font-size: 10px;
    text-align: center;
}

@media only screen and (max-width: 882px){
    .main{
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .main .column1{
       width: 100%;
       text-align: center;
       margin-top: 20px;
       margin-bottom: -30px;
       
    }
    
    .column1 h1{
        margin-left: 40px;
    }

    .main .column2{
        width: 100%;
        text-align: center;
        align-items: center;
        justify-items: center;
        justify-self: center;
        margin-top: 20px;
        margin-bottom: -30px;
    }

    .column2 form{
        margin-bottom: 20px;
        width: 100%;
    }
}

@media only screen and (max-width: 650px){
    .main{
        width: 100%;
        
    }

    .main .column1{
       width: 100%;
       text-align: center;
       margin-top: 20px;
       margin-bottom: -50px;
       
    }

    .column1 h1{
        margin-left: 30px;
    }

    .main .column2{
        width: 100%;
        text-align: center;
        align-items: center;
        justify-items: center;
        justify-self: center;
        margin-top: 20px;
        margin-bottom: -30px;
    }

    .column2 form{
        margin-bottom: 20px;
        width: 100%;
    }
}